@import "tailwindcss";
/* Smooth scrollbar for recent routes */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 999px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background-color: #dc2626; /* red */
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #b91c1c;
}
